*{
		 margin: 0;
		 padding: 0;
		 box-sizing: border-box;
}
		 
#canvas1{
		width: 350px;
		height: 300px;
		border: 5px solid black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}
#player{
		display: none;
}
.controls{
		position: absolute;
		top: 80%;
		left: 0;
		padding: 10px;
		border: 2px solid black;
		width: 100%;
		height: 20%;
}
 button{
 		font-size: 40px;
 		border: none;
 }
button:active{
		   transform: scale(0.8);
}
#enter{
		position: absolute;
		left: 80%;
		top: 25%;
}
#arrow-left{
		position: absolute;
		left: 5%;
		top:25%
}
#arrow-right{
		position: absolute;
		left: 45%;
		top:25%
}
#arrow-up{
		position: absolute;
		left: 25%;
		top: 0;
}
#arrow-down{
		position: absolute;
		left: 25%;
		top: 70%;
}
#layer1,#layer2,#layer3,#layer4,#layer5{
		display: none;
}
#spider,#plant,#flies{
		display: none;
}